:root, body, button, ul {
    font-family: 'Graphik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

#header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    background-color: #f0e7b3;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

#logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 1.5rem;
    justify-self: start;
}

#logo:hover {
    cursor: pointer;
}

#header > ul {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    justify-self: center;
    margin: 0;
}

#footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
    color: #ffffff;
    background-color: #4b4b4b;
}

#footer > ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

a.footerListLink {
    color: #ffffff;
    text-decoration: none;
    height: 1.5rem;
}

a.footerListLink:hover {
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-color: #f0e7b3;
}

#copyright {
    border-top: 1px solid #8f896b;
    padding: 2rem 0rem;
    font-size: 0.875rem;
}

button {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    justify-self: end;
    border: none;
    border-radius: 0.25rem;
    background-color: #3f3f3f;
    color:#ffffff;
}

button:hover {
    background-color: #1b1b1b;
    cursor: pointer;
    transition: 0.5s;
}

button.tabListButton {
    background-color: #f0e7b3;
    color: #000000;
}

button.tabListButton:hover {
    background-color: #8f896b;
    color:#ffffff;
}

button.tabListButton.active {
    background-color: #8f896b;
    color:#ffffff;
    transition: 0.3s;
}

#heroBanner {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    background-image: url(./restaurant-picture.jpeg);
}

#heroBannerTextStack {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    height: 50%;
    color: #ffffff;
    background-image: linear-gradient(#1b1b1b00,#1b1b1b);
    padding: 2rem;
    align-items: center;
    gap: 1rem;
}

#splitBanner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #baa076;
}

#left, #right {
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imgStack {
    height: 400px;
    width: 400px;
    border-radius: 200px;
    background-image: url(./farmer.jpeg);
    align-self: center;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0;
}

h3 {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    margin: 0;
}